root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.java]
indent_style = tab
indent_size = 4

[*.kt]
ktlint_code_style = ktlint_official
ktlint_standard_property-naming = disabled
indent_style = tab
indent_size = 4

[*.json]
indent_style = tab
indent_size = 4

[*.md]
indent_style = tab
indent_size = 4